
.idea/
cmake-build-debug/
*.csv

docs/html/

build/

audioAndImageOrVideoManipulation/src/audio/copiedwav.wav

audioAndImageOrVideoManipulation/src/audio/audioHistograms/


audioCoding/test

audioCoding/test.wav
