
.idea/
cmake-build-debug/
*.csv

docs/html/

audioAndImageOrVideoManipulation/build/

audioAndImageOrVideoManipulation/src/audio/copiedwav.wav

audioAndImageOrVideoManipulation/src/audio/audioHistograms/

audioCoding/build/*
